.showToast {
  color: #fff !important;
  font-size: 14px !important;
  padding: 5px 15px !important;
  border-radius: 5px !important;
  position: absolute !important;
  z-index: 2147483647 !important;
  transition: opacity 500ms ease-in;
  background: rgba(0, 0, 0, 0.75) !important;
}
.showToast .playbackRate {
  margin: 0 3px !important;
  color: #ff6101 !important;
}
